@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Custom Properties  */

:root {
    --main-color: rgba(255, 146, 197, 1);
    --sub-color: #c2f8fc;
    --comp-color: #ddd3ee;
}

.bg-primary-pink {
    background-color: var(--main-color);
}

.nav-link {
    color: black !important;
    text-transform: uppercase;
    font-size: .9em;
}

.nav-link:hover {
    color: white !important;
    text-shadow: 0px 0px 10px #eee;
}


/* Global  */

html, body {
    background-color: var(--sub-color);
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

section {
    padding: 20px;
}

/* Buttonzzz */

.btn-container {
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

.btn-purple {
    padding: 10px 20px;
    transition: 0.5s;
    color: black;
    box-shadow: 2px 2px 1px var(--sub-color);
    text-shadow: 0px 0px 20px #eee;
    border-radius: 10px;
    letter-spacing: 0.07em;
    font-weight: 600;
    border-color: var(--comp-color);
    background-color: var(--comp-color);
}

.btn:hover {
    background-color: var(--main-color);
    border-color: var(sub-color);
    color: white;
}

.btn:active {
    position:relative;
    top:1px;
    background-color: var(--main-color);
    border-color: var(sub-color);
}


/* Section: Hero  */

.hero {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    padding: 0px;
}

#default-hero {
    background-image: url(./imagenes/llama_y_yo.jpg);
}

#map-hero {
    background-image: url(./imagenes/more_llama.jpg);
}

#hero-text {
    color: white;
    position: absolute;
    top: 325px;
    padding: 25px;
    text-shadow: 2px 2px black;
}

#hero-text h1 {
    font-size: 1.7em;
}

/* Section: Hero  */

#about-me a {
    color: var(--main-color);
    font-weight: 600;
    text-decoration: none;
}

/* Section: Interests */

#interests table{
    width: 100%;
    text-align: center;
    font-size: .9em;
    font-weight: 500;
}

#interests table td {
    background-color: var(--comp-color);
    width: 50%;
    padding: 5px;
    transition: 0.3s;
    border: 2px solid white;
}

#interests table td:hover {
    background-color: var(--main-color);
}

/* Section: Image Gallery */

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 .5rem;
}

.gallery-image {
    max-width: 100%;
}

.cell {
    margin: .5rem;
    text-align: center;
    font-size: .9em;
}

.cell img {
    display: block;
}

.cell p {
    align-items: center;
    justify-content: center;
}

.cell img:hover {
    box-shadow: 2px 2px 2px var(--sub-color);
}

@media screen and (min-width: 650px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .cell {
        width: calc(50% - 2rem);
        margin: .25rem;
    }
}

/* Section: Video  */

#video {
    text-align: center;
}

/* Section: Contact Me */

ul {
    text-align: center;
}

ul li {
    margin-top: 8px;
    list-style: none;
    display: inline-block;
    padding-right: 25px;
}

.icon {
    width: 80px;
}